//Fonts
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Nunito', sans-serif;

//colors
$orange1-color: #FF2D04;
$orange2-color: #C12D18;
$secondary-color: #E0E0E0;
$yellow-color: #E9B425;
$black1-color: #33383D;
$black2-color: #1C1D20;
$transparent: #00000000;